{% extends "base.html" %}
{% block title %}ЛР2 - Форма авторизации{% endblock %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="h4">Форма авторизации</h1>
        <form method="post" class="mt-3">
            <div class="mb-3">
                <label for="login" class="form-label">Логин</label>
                <input type="text" id="login" name="login" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}
